<html>
    <head>
        <link href="/assets/css/app.css" rel ="stylesheet" >
    </head>
    <body class = "appPage">
    <div class="board-container">
        <div 
            class="board"
            array
            key="stacks"
        >
                <div class = "buttonContainer">
                <button 
                    class="addBill"
                    new:stack
                >Add montly Bill</button>
                <div class = "instructions">   
                    <p>Enter your bills as follows: bill type: $0.00 in order for the calcuator to work</p>
                </div>
        
        </div>
            {{#for stack in stacks}}
            <div 
                class="monthlyBill"
                object
                key:stack-heading="@search"
                default:stack-heading="A Project"
            >
                
                <div class="bill__top">
                <p 
                    class="stack__text"
                    target:stack-heading="@innerText"
                    edit:stack-heading
                >{{default stack.stackHeading "New Monthly Bill"}}</p>
                </div>
                    <div class = "buttons">
                        <div>
                            <button 
                                class="button button--plus-square"
                                new:card
                            >
                                Add Bill
                            </button>
                            <button 
                                remove:with-confirm>
                                Pay Bill
                            </button>
                            
                            <div class = "totalBill">
                            <button>
                                Calculate total Bill
                            </button>
                            <p>Total Of Bills: $0.00  </p> 
                            </div>
                        </div>
                    </div>
                <div
                class="stack__list"
                key="cards"
                array
                sortable="cards"
                >
                
                {{#for card in stack.cards}}
                
                    <div 
                    class="bill"
                    object
                    key:card-text="@search"
                    edit:card-text
                    >
                    <p 
                        class="card__text"
                        target:card-text="@innerText"
                    >{{default card.cardText "New Bill: $0.00 "}}</p>
                    </div>
                {{/for}}
            </div>
                    <div class="bill">
                    <p>End Of Bill</p>
                    </div>
            </div>
            {{/for}}
        </div>
    </div>

        <script src="/assets/js/main.js"></script>

    </body>
</html>
