<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Check In Login</title>
        <link href="loginstyle.css" rel="stylesheet">
    </head>
    <body>
        <form action="/user/login" method="post">
            <h1>Password Recovery</h1>
            <p><small>Enter your username and follow the directions on how to change your password.</small></p>
            <input type="text" name="username" placeholder="Username" required>
            <button type="submit">Send reset password link</button>
            <a href="user/login.hbs">Log in</a>
            <a href="user/signup.hbs">Sign up</a>
            <a href="user/reset.hbs">Reset password</a>
          </form>
    </body>
</html>