<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Check In Login</title>
        <link href="loginstyle.css" rel="stylesheet">
    </head>
    <body>
        <form action="/user/login" method="post">
            <h1>Password Recovery</h1>
            <p><small>Enter your new password.</small></p>
            <input type="text" name="newpassword" placeholder="New Password" required>
            <button type="submit">Submit</button>
            <a href="user/login.hbs">Log in</a>
            <a href="user/signup.hbs">Sign up</a>
          </form>
    </body>
</html>