.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #e09b31, #e5b63d);
}

form {
    background: whitesmoke;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 20px grey;
    max-width: 600px;
    width: 100%;
    height: 300px;
    text-align: center;
    justify-content: center;
}

h1 {
    font-size: 28px;
}

input[type="text"],
input[type="password"],
button {
    width: 75%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #fdc43f;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #0074d9;
    display: block;
    margin-top: 5px;
}

button:hover {
    background: #ffe246;
}