ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(100000px);
    background-color: rgba(255, 255, 255, 0.068);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    transition: 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Change the link color to (white) on hover */
li a:hover {
    background-color: rgb(196, 143, 9);
    color: white;
}

#logo {
    height: 15px;

}

.background {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
}



h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    color: antiquewhite;
    margin: 80px;

}

.flexcontainer {
    background-color: rgb(196, 143, 9);
    display: flex;
    flex-direction: column;
}

#workingex {
    height: auto;
    width: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
}

.floatalignR {
    float: right
}

.signup {
    display: flex;
    background-color: black;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
    margin: 80px;
    font-size: 60px;

}

#signupb:link,
#signupb:visited {
    background-color: rgb(196, 143, 9);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    border-radius: 15px;
    transition: 0.3s;
    align-self: center;
    padding: 15px;
    margin: 10px;
}

#signupb:hover,
#signupb:active {
    background-color: antiquewhite;
    transition: 0.3s;
}

.about_us {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-flow: column;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    margin: 80px;
    font-size: 60px;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 100px;
}

.about_us_paragraph {
    background-image: url(images/Untitled_design-5.png);
    display: flex;
    flex-direction: column;
}